/*This will apply to all Input form container */
@media screen and (min-width: 600px) {
    .EntireBox {
        width: 420px;
    }
}


#EntireBox_HomePage {
    top: 30px;
    left: 20px;
    border: black;
    height: auto;
    padding-bottom: 50px;
    position: relative;

  text-align: center;


}

.HomePage  {

    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.2)),url("../img/img3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 12s infinite ;
}




.HomePageInner {
    height: 250px;

}


.WeatherWidget {
    height: 100px;

}

.WeatherWidget a {
    height: 120px;
    margin: auto;
    font-size: 10px;
    max-height: 100%;

}


.HomePageInner {
    margin: auto;
}

.HomePage Button {

    margin: auto;
    height: 50px;
    width: 65%;

    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 19px;
}

.LinkCss {
    margin: auto;
    width: 100%;
}

@media only screen and (max-width: 390px) {
    .HomePage Button {
        font-size: 14px;
    }

    .WeatherWidget {
        height: 120px;

    }

}

@media only screen and (max-width: 420px) {

#EntireBox_HomePage {

    top: 0;
    left: 0;


}

    .HomePage Button {

    margin: auto;
    height: 50px;
    width: 75%;

    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 19px;
}



}


@media only screen and (max-width: 350px) {



    .HomePage Button {

    font-size: 15px;
}



}


@keyframes slide {
    0%{
        background-image: url("../img/img3.webp");
    }

        33%{
        background-image: url("../img/img1.webp");
    }
        67%{
        background-image: url("../img/img2.webp");
    }

}
